.container{
	width: 370px;
	height:310px;
	background-color: rgba(255,255,255, 0.2);
	margin: auto;
	margin-top: 100px;
	border-radius: 20px;
	padding-top: 20px;
}

.table{
	width: 500px;
	height:500px;
	background-color: rgba(255,255,255, 0.2);
	margin: auto;
	margin-top: 100px;
	border-radius: 20px;
	padding-top: 20px;
}


input{
	padding-left: 15px;
	padding-right: 15px;
	font-size: 24px;
	border-radius: 7px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 15px;
	margin-top: 20px;
	margin-bottom: 5px;
}

.btn{
	width: 330px;
	height: 40px;
	margin-left: 17px;
	margin-top: 15px;
	border-radius: 10px;
	font-size: 21px;
	cursor: pointer;
}

a{
	text-decoration: none;
	font-size: 20px;
	color: black;
	margin-left: 200px;
}


